.paginationContainer {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

.currentPage {
  color: #fff;
  padding: 5px;
  background: var(--primaryColor);
  border-radius: 3px;
  font-size: 20px;
  margin-right: 5px;
}

.page {
  color: #666;
  padding: 5px;
  font-size: 18px;
  margin-right: 5px;
}
