.container {
  width: 700px;
  height: 80px;
  background-color: white;
  box-shadow: 3px 5px 24px -2px rgba(34, 60, 80, 0.2);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.container h3 {
  margin-bottom: 30px;
  color: var(--primaryColor);
}

.description {
  line-height: 1.3;
}
